<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h2>Список спринтов</h2>
<table id="usersList">
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Дата Задачи</th>
        <th>Описание</th>
        <th>Действия</th>
    </tr>

    <tr th:each="task : ${tasks}">
        <td th:utext="${task.task_id}"></td>
        <td th:utext="${task.title}"></td>
        <td th:utext="${#dates.format(task.taskDate, 'dd-MM-yyyy')}"></td>
        <td th:utext="${task.description}"></td>
        <td>
            <a th:href="@{/edit/__${task.task_id}__}">Изменить</a>
            <a th:href="@{/delete/__${task.task_id}__}">Удалить</a><br/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a th:href="@{/create}">Добавить</a><br/></td>
    </tr>
</table>
</body>
</html>